<form class="form-ncrop">
  <label>ID:</label>
  <input type="number" formControlName="id">

  <label >Codigo:</label>
  <input type="text" formControlName="codigo">

  <label >Area:</label>
  <input type="number" formControlName="area">

  <label>Producto:</label>
  <input type="text" formControlName="producto">

  <label>Localizacion:</label>
  <input type="text" formControlName="localizacion">

  <label>Estado:</label>
  <input type="text" formControlName="estado">

  <label >Costo:</label>
  <input type="number" formControlName="costo">

  <label >Retorno:</label>
  <input type="number" formControlName="retorno">

  <button type="submit" >Enviar</button>
</form>
