.registercrop-container{
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: 50px auto;

}

.title{
  font-family: "Times New Roman", Times, serif;
}

.register-crop{
  margin-top: 40px;
  padding: 20px 1px;
  background-color: rgb(0 255 0/50%);
  border-radius: 20px;


}
.input-field{
  padding: 10px 10px;
  margin-bottom: 25px;
}

