<div class="registercrop-container">
  <h1 class="title">New Crop</h1>
  <label class="labels">ID:</label>
  <input class="input-field" [(ngModel)]='id' type="text" placeholder="Insert your crop code">
  <label class="labels">Code:</label>
  <input class="input-field" [(ngModel)]='code' type="text" placeholder="Insert the codename you assigned to this crop">
  <label class="labels">Currency:</label>
  <input class="input-field" [(ngModel)]='currency' type="text" placeholder="Insert the currency of the price you assigned to this crop">
  <label class="labels">Value:</label>
  <input class="input-field" [(ngModel)]='value' type="text" placeholder="Insert the value you assigned to this crop">

  <button class="register-crop" (click)="register()">Add Crop</button>

</div>
