<div class="registercrop-container">
  <h1 class="title">New Crop</h1>
  <label class="labels">Code:</label>
  <input class="input-field" [(ngModel)]='code' type="text" placeholder="Insert your crop code">

  <label class="labels">Area:</label>
  <input class="input-field" [(ngModel)]="area" type="number" placeholder="Insert the area of your crop">

  <label class="labels">Product:</label>
  <input class="input-field" [(ngModel)]="product" type="text" placeholder="Insert your product">

  <label class="labels">Localization:</label>
  <input class="input-field" [(ngModel)]="localization" type='text' placeholder="Insert your coordenates of your crop">

  <label class="labels">Status:</label>
  <input class="input-field" [(ngModel)]="status" type="text" placeholder="Insert the status of your crop">

  <label class="labels">Cost:</label>
  <input class="input-field" [(ngModel)]="cost" type="number" placeholder="Insert the cost of the crop">

  <label class="labels">Profit:</label>
  <input class="input-field" [(ngModel)]="profit" type="number" placeholder="Insert your estimated profit">

  <button class="register-crop" (click)="register()">Add Crop</button>

</div>
