<header>
  <nav>
    <ul class="nav-buttons">
      <li><a  routerLink= "/signup">Sign Up</a></li>
      <li><a routerLink= "/login">Log In</a></li>
    </ul>
    <ul>
      <li><a href="#home" (click)="onAnchorClick($event)">Home</a></li>
      <li><a href="#services" (click)="onAnchorClick($event)">Services</a></li>
      <li><a href="#team" (click)="onAnchorClick($event)">Team</a></li>
      <li><a href="#pricing" (click)="onAnchorClick($event)">Pricing</a></li>
      <li><a href="#contact" (click)="onAnchorClick($event)">Contact</a></li>
    </ul>
  </nav>
</header>
