.homeappini{
  width: 1024px;
  margin: 50px auto;
}
.mat-spacer {
  display: flex;
  flex-direction: column;
}
.botoneshomeapp{

  width: 100%;
  padding:50px 30px;
  background-color: #008000; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  border: none;
  border-radius: 10px; /* Bordes de botón redondeados */
  cursor: pointer;
  margin-bottom: 30px;


}

.ordenarhomeapp{
  display: flex;
  flex-direction: row;

}

.headshomeapp{
   display: flex;
   flex-direction: column;
    margin-bottom: 5%;
   align-items: center;
 }
.titulohomeapp{
  flex: 1 1 auto;
 color: #008000;

}
.weathernow{
  display: grid;
  place-items: center;
 margin-left: 100px;
  background-color: rgb(135 206 235 / 50%) ;
  border-radius: 30px;
  padding: 50px 50px;

}

.infoweather{
  font-family: "Times New Roman", Times, serif;

}

