
<div class="homeappini" >
  <div class="headshomeapp">
    <h1 class="titulohomeapp">The Farm</h1>
    <div *ngFor="let crop of crops; let first = first">
      <div class="do" *ngIf="first">

        <h2 id=ruc>Ruc: {{crop.ruc}}</h2>
      </div>
    </div>
  </div>


  <div class=ordenarhomeapp>
    <div>
      <a mat-button class="botoneshomeapp" routerLink="/homepage/crop">Crops</a>
      <a mat-button class="botoneshomeapp" routerLink="/homepage/>employees">Employees</a>
      <a mat-button class="botoneshomeapp" routerLink="/homepage/finance">Finance</a>

    </div>
    <div class="weathernow">
      <div class="tarjeta">
        <p><img src="{{iconurl}}" alt="weather icon"></p>
        <h1>{{city}}</h1>
        <div class="tarjetab">
          <p class="infoweather">Summary: {{summary}}</p>
          <p class="infoweather">Temperature: {{temperature}}°</p>
          <p class="infoweather">Feels Like: {{sensation}}</p>
          <p class="infoweather">Humidity: {{humidity1}}%</p>
          <p class="infoweather">Pression: {{pressure1}} hPa</p>

        </div>
      </div>
    </div>


  </div>


</div>
