.homeappini{
  width: 1024px;
  margin: 50px auto;
}
.mat-spacer {
  display: flex;
  flex-direction: column;
}
.botoneshomeapp{

  width: 100%;
  padding:50px 30px;
  background-color: #008000; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  border: none;
  border-radius: 10px; /* Bordes de botón redondeados */
  cursor: pointer;
  margin-bottom: 30px;


}

.ordenarhomeapp{
  display: flex;
  flex-direction: row;

}

.headshomeapp{
   display: flex;
   flex-direction: column;
    margin-bottom: 5%;
   align-items: center;
 }
.titulohomeapp{
  flex: 1 1 auto;
 color: #008000;
  font-size: 100px;


}
#ruc{
  margin-top: 50px;
  color: #2e51cd;
}
.weathernow{
  display: grid;
  place-items: center;
 margin-left: 100px;
  background-color: rgb(135 206 235 / 50%) ;
  border-radius: 30px;
  padding: 50px 50px;

}

.infoweather{
  font-family: "Times New Roman", Times, serif;

}

.sales-orders-title {
  font-size: 1.2em; /* Ajusta el tamaño del texto del título */
}

.sales-orders-buttons {
  display: flex; /* Hace que los botones se dispongan en una línea */
  flex-direction: column; /* Hace que los botones se apilen verticalmente */
  gap: 1px; /* Añade un espacio entre los botones */
}
.sales-orders-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px; /* Ajusta el padding para cambiar el tamaño del botón */
  gap: 10px;
}
.farming-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.farming-title {
  text-align: center;
  color: #00576F;
}

.botoneshomeapp {
  margin: 0 10px;
}
