

<div class="homeappini" >
  <div class="headshomeapp"*ngFor="let cultivo of cultivos">
    <h1 class="titulohomeapp">La Finca</h1>
   <h2 class="usuariocrop">RUC: {{cultivo.ruc}}</h2>
  </div>


  <div class=ordenarhomeapp>
    <div>
      <a mat-button class="botoneshomeapp" *ngFor="let option of options2" [routerLink]="option.path">{{option.title}}</a>
    </div>
    <div class="weathernow">
      <div class="tarjeta">
        <p><img src="{{iconurl}}" alt="weather icon"></p>
        <h1>{{city}}</h1>
        <div class="tarjetab">
          <p class="infoweather">Estado: {{summ}}</p>
          <p class="infoweather">Temperatura: {{temperature}}°</p>
          <p class="infoweather">Sensacion termica: {{sensation}}</p>
          <p class="infoweather">Humedad: {{humidity1}}%</p>
          <p class="infoweather">Presion: {{pressure1}} hPa</p>

        </div>
      </div>
    </div>


  </div>


</div>
