

<div class="homeappini" >
  <div class="headshomeapp">
    <h1 class="titulohomeapp">La Finca</h1>
   <h2 class="usuariocrop" *ngFor="let cultivo of cultivos">RUC: {{cultivo.ruc}}</h2>
  </div>


  <div class=ordenarhomeapp>
    <div>
      <a mat-button class="botoneshomeapp" *ngFor="let option of options2" [routerLink]="option.path">{{option.title}}</a>
    </div>
    <div class="weathernow">
      <div class="tarjeta">
        <p><img src="{{iconurl}}" alt="weather icon"></p>
        <h1>{{city}}</h1>
        <div class="tarjetab">
          <p class="infoweather">Summary: {{summary}}</p>
          <p class="infoweather">Temperature: {{temperature}}°</p>
          <p class="infoweather">Feels Like: {{sensation}}</p>
          <p class="infoweather">Humidity: {{humidity1}}%</p>
          <p class="infoweather">Pression: {{pressure1}} hPa</p>

        </div>
      </div>
    </div>


  </div>


</div>
