<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contracts Page</title>
  <link rel="stylesheet" href="monitoring.component.css">
</head>
<body>
<div class="contracts-header">
  <h1 class="title">Monitoring</h1>
</div>
<div class="contracts-content">
  <div class="companies">
    <h2>Companies</h2>
    <!-- Carta 1 -->
    <div class="card">
      <p><span class="green-text">Name:</span> Don Jose</p>
      <p><span class="green-text">Number of crops:</span> <span class="blue-text">2</span></p>
      <p><span class="green-text">Notifications:</span> <span class="blue-text">1</span></p>
      <!-- Botón Monitoring dentro de la carta -->
      <button class="green-button">Monitoring</button>
    </div>
    <!-- Carta 2 -->
    <div class="card">
      <p><span class="green-text">Name:</span> Don Jose</p>
      <p><span class="green-text">Number of crops:</span> <span class="blue-text">2</span></p>
      <p><span class="green-text">Notifications:</span> <span class="blue-text">0</span></p>
      <!-- Botón Monitoring dentro de la carta -->
      <button class="green-button">Monitoring</button>
    </div>
  </div>
</div>
</body>
</html>
