<section id="services" class="services">
  <div class="subServices">
    <h2>Our Services</h2>
    <p>
      AgroGes offers a wide range of services designed specifically to support your agricultural activity. We stand out for our dedication to your success and our commitment to continuous innovation in the agricultural sector. <br> We grow with you.
    </p>
  </div>
  <div class="containerS">
    <div class="boxS">

      <h3>Agricultural Consulting</h3>
      <p>
        Access expert advice at all stages of your agricultural production, from planting to harvesting.
      </p>
    </div>
    <div class="boxS">

      <h3>Crop Planning</h3>
      <p>
        We help you optimize your crops through recommendations on ideal seasons, most suitable varieties, and planting practices.
      </p>
    </div>
    <div class="boxS">

      <h3>Pest and Disease Control</h3>
      <p>
        Get effective strategies for integrated pest and disease management, thus protecting the health of your crops.
      </p>
    </div>
  </div>
</section>
