.tarjetascal{
  width: 1024px;
  margin:40px auto;



}
.tarjeta{
  background-color: green;
  Display: flex;
  border-radius: 20px;
  flex: 100px 100px;
  align-items: center;
}
.tarjetab{
  padding: 20px 20px;
}
#tarjeta1{

  padding:30px 10px;
}

#tarjeta2{
  margin-right: 10px;

}

#tarjeta3{}

.weathernow{
  padding: 20px 20px;
}
