<div class="tarjetascal">

  <div id="tarjeta1">
    <h2>Day 1</h2>
    <div class="weathernow">
      <div class="tarjeta">
        <p><img src="{{iconurl}}" alt="weather icon"></p>
        <h1>{{city}}</h1>
        <div class="tarjetab">
          <p class="infoweather">Summary: {{summary}}</p>
          <p class="infoweather">Temperature: {{temperature}}°</p>
          <p class="infoweather">Humidity: {{humidity1}}%</p>
        </div>
      </div>
    </div>

  </div>

  <div id="tarjeta2">
    <h2>Day 2</h2>
    <div class="weathernow">
      <div class="tarjeta">
        <p><img src="{{iconurl}}" alt="weather icon"></p>
        <h1>{{city}}</h1>
        <div class="tarjetab">
          <p class="infoweather">Summary: {{summary}}</p>
          <p class="infoweather">Temperature: {{temperature+2.41}}°</p>
          <p class="infoweather">Humidity: {{humidity1+4}}%</p>
        </div>
      </div>
    </div>

  </div>


  <div id="tarjeta3">
    <h2>Day 3</h2>
    <div class="weathernow">
      <div class="tarjeta">
        <p><img src="{{iconurl}}" alt="weather icon"></p>
        <h1>{{city}}</h1>
        <div class="tarjetab">
          <p class="infoweather">Summary: {{summary}}</p>
          <p class="infoweather">Temperature: {{temperature-2.4}}°</p>
          <p class="infoweather">Humidity: {{humidity1-3}}%</p>


        </div>
      </div>
    </div>
  </div>



</div>
