<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consultant Page</title>
  <link rel="stylesheet" href="menu.component.css">
</head>
<body>
<div class="consultant-header">
  <h1 class="title">Consultant</h1>
</div>
<div class="consultant-content">
  <div class="buttons-container">
    <button class="green-button">Monitoring</button>
    <div class="buttons-container">
      <button class="green-button" routerLink="/contracts">Contracts</button>
    </div>
  </div>
  <div class="notifications">
    <h2>Notifications</h2>
    <!-- Cuadro de mensajes -->
    <div class="message-box">
      <p><strong>Tengo una pregunta con las fechas de la cosecha</strong></p>
      <p>12/03/2024</p>
    </div>
    <div class="message-box">
      <p><strong>Buenas tardes, le comunico que el tenemos que comprar abono pero no sabemos que especificaciones necesitamos</strong></p>
      <p>13/03/2024</p>
    </div>
  </div>
</div>
</body>
</html>
