<div class="main-container">
  <div class="header-container">
    <h2> Finance </h2>
    <button> Monthly Balance </button>
  </div>
  <div class="control-container">
    <div class="pending-section-container">
       <div class="card-title-content">
          <h1> Pending Payments</h1>
          <button> Add payment </button>
       </div>
     <div class="cards-container">
       <div class="card-features-container" *ngFor="let payment of payments">
         <div class="feature-content">
           <h3> Type </h3>
           <h3> {{ payment.type }} </h3>
         </div>
         <div class="feature-content-2">
           <h3 > Cost </h3>
           <h3> {{ payment.cost }} </h3>
         </div>
         <div class="btn-section">
           <button> Description </button>
           <button> Paid </button>
         </div>
       </div>
       <div class="card-features-container" *ngFor="let payment of payments">
         <div class="feature-content">
           <h3> Type </h3>
           <h3> {{ payment.type }} </h3>
         </div>
         <div class="feature-content-2">
           <h3 > Cost </h3>
           <h3> {{ payment.cost }} </h3>
         </div>
         <div class="btn-section">
           <button> Description </button>
           <button> Paid </button>
         </div>
       </div>
    </div>
  </div>
    <div class="control-container">
      <div class="pending-section-container">
        <div class="card-title-content">
          <h1> Pending Collections</h1>
          <button> Add collection </button>
        </div>
        <div class="cards-container" *ngFor="let collection of collections">
          <div class="card-features-container">
            <div class="feature-content">
              <h3> Type </h3>
              <h3> {{ collection.type }} </h3>
            </div>
            <div class="feature-content-2">
              <h3 > Cost </h3>
              <h3> {{ collection.cost }} </h3>
            </div>
            <div class="btn-section">
              <button> Description </button>
              <button> Paid </button>
            </div>
          </div>
        </div>
</div>
