.main-container{
  display:flex;
  flex-direction: column;


}

.header-container{
  display:flex;
  justify-content: space-evenly;

}


.main-container h2{
  font-family: 'Jockey One';
  font-size: 30px;
  color: #20D61C;
  margin-top: 20px;

}
.main-container button{
  height: 48px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius:20px;
  margin-top: 20px;
  background-color: white;
  color:#20D61C;
  font-weight: bold;
  font-family: 'Jockey One';
  font-size: 1rem;
}


.pending-section-container{
  display:flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 20px;
  width: 900px;
  margin:0 auto;
  position: relative;
  padding:1rem;
  top: 60px;
}
.card-title-content{
  display:flex;
  justify-content: flex-start;
  margin-left:2rem;
  gap:2rem;
}

.card-title-content h1{
  font-family: 'Jockey One';
  font-size: 30px;
  color: red;
  margin-top: 20px;
  font-weight: bold;

}
.feature-content{
  display:flex;
  gap:2rem;
}

.feature-content-2{
  display:flex;
  gap:2rem;
}

.feature-content h3:nth-child(2){
  color:blue;
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-content h3:nth-child(1){
  color:#20D61C;
  font-size: 1.5rem;
}

.feature-content-2 h3:nth-child(2){
  color:blue;
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-content-2 h3:nth-child(1){
  color:#20D61C;
  font-size: 1.5rem;
}
.btn-section{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.btn-section button{
  width: 400px;
}

.card-features-container{
  gap:2rem;
  margin-top: 20px;
  width: 350px;
  border: 1px solid;
  border-radius: 25px;
  padding:10px;
  margin-left:2rem;
}
.cards-container{
  display:flex;
  gap:2rem;
}

.control-container{
  margin-top: 20px;
}

@media (width<=432px){
  .cards-container{
    flex-direction: column;
  }
  .pending-section-container{
    width: 100%;
  }
}

