<!--HOME-->
<section id="home" class="banner">
  <div class="containerB row">
    <div class="boxB col1-md-5 col12">
      <img ngSrc="./assets/Images/Agroges_logo.png" class="imgBanner" alt="" height="355" width="420">
    </div>
    <div class="boxB col2">
      <h1>AgroGes</h1>
      <p id="txtBanner">
        At AgroGes, we are committed to the growth and success of small and medium farmers. Our comprehensive platform offers accurate technical information and specialized advice to optimize your crops.
      </p>
    </div>
  </div>
</section>
