
<!--Pricing-->
<section id="pricing" class="Pricing">
  <div class="subPricing">
    <h2>Our Pricing</h2>
    <p>
      At AgroGes, we understand that agricultural needs vary from one client to another. Therefore, we offer flexible subscription plans that adapt to your specific requirements. Our plans are designed to accommodate the number of advisors you need to efficiently manage your agricultural production.
    </p>
  </div>
  <div class="containerT">
    <div class="boxT">
      <h3>Basic Plan</h3>
      <ul>
        <li>Crop management tools to manage your production</li>
        <li>Weather forecasts</li>
        <li>Pest alerts</li>
        <li>Up to a maximum of 5 advisors to collaborate on your agricultural projects</li>
      </ul>
      <h3>$ 100</h3>
    </div>
    <div class="boxT">
      <h3>Medium Plan</h3>
      <ul>
        <li>Crop management tools to manage your production</li>
        <li>Weather forecasts</li>
        <li>Pest alerts</li>
        <li>Expanded capabilities to work with a larger team</li>
        <li>Possibility to add up to 10 advisors in managing your crops</li>
      </ul>
      <h3>$ 200</h3>
    </div>
    <div class="boxT">
      <h3>Premium Plan</h3>
      <ul>
        <li>Crop management tools to manage your production</li>
        <li>Weather forecasts</li>
        <li>Pest alerts</li>
        <li>Expanded capabilities to work with a larger team</li>
        <li>Possibility to add up to 10 advisors in managing your crops</li>
      </ul>
      <h3>$ 300</h3>
    </div>
  </div>
</section>
