<div class="employee-information-container">
  <div class="header">
    <button routerLink="/homepage">Back to Homepage</button>
    <span>Employee Information</span>
  </div>
  <div class="employee-information-grid" *ngFor="let employee of employees">
    <mat-card class="employee-card">
      <mat-card-content>
        <!-- Agrega un formulario para editar el empleado -->
        <form *ngIf="employee.id === editingEmployeeId" #productForm="ngForm">
          <label>
            First Name:
            <input [(ngModel)]="editingEmployee.firstName" name="money">
          </label>
          <label>
            Last Name:
            <input [(ngModel)]="editingEmployee.lastName" name="amount">
          </label>
          <label>
            Email:
            <input [(ngModel)]="editingEmployee.email" name="start">
          </label>
          <label>
            Work Position:
            <input [(ngModel)]="editingEmployee.workPosition" name="end">
          </label>
          <label>
            Salary:
            <input [(ngModel)]="editingEmployee.salary" name="quantityProduct">
          </label>
          <label>
            Phone:
            <input [(ngModel)]="editingEmployee.phone" name="quantityProduct">
          </label>
          <label>
            Age:
            <input [(ngModel)]="editingEmployee.age" name="quantityProduct">
          </label>
          <button (click)="acceptChanges()">Accept Changes</button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="startEditing(employee)">Update Employee</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<app-footer class="footer-full-width"></app-footer>
