<div class="crop-wrapper">

  <div *ngFor="let product of products">
    <div *ngFor="let crop of crops"  class="details">
      <p>Crop code:{{crop.id}} </p>
      <p>Crop name:{{crop.code}} </p>
      <p>Crop cost: {{crop.value}} {{crop.currency}}</p>
      <p>Product Id:{{product.id}}</p>
      <p>Crop Product Name: {{product.name}}</p>
      <p>Product Stock: {{product.stockProduct}}</p>


      <div>
        <button class="botcrop" routerLink="/homepage/crop/calendar">Calendar</button>

        <button class="botcrop">Ask Consultor</button>
      </div>
    </div>
  </div>


</div>

<div class="calendar-container">
</div>
