<div class="crop-wrapper"*ngFor="let cultivo of cultivos">
  <div class="do">
    <button class="botcrop">Agregar Cultivo</button>
    <h2 >Ruc: {{cultivo.ruc}}</h2>
  </div>


  <div class="doblecolumna">
      <div class="columna1" *ngFor="let cultivo of cultivos">
        <p>Código: {{ cultivo.codigo }}</p>
        <p>Área: {{ cultivo.area }} m2</p>
        <p>Producto: {{ cultivo.producto }}</p>
        <p>Localizacion: {{cultivo.localizacion}}</p>
      </div>



    <div class="columna2" *ngFor="let cultivo of cultivos">

      <p>Estado:{{cultivo.estado}}</p>
      <p>Costo: ${{cultivo.costo}}</p>
      <p>Retorno: ${{cultivo.retorno}}</p>
    </div>
  </div>

  <div>
    <button class="botcrop">Calendario</button>

    <button class="botcrop">Peguntar al asesor</button>
  </div>




</div>


<div class="calendar-container">
</div>
