<div class="add-employee-container">
  <span>Add Employee</span>
  <a href="#" class="add-employee-link">Add Employee</a>
  <input class="input-field" [(ngModel)]="name" type="text" placeholder="Name">
  <input class="input-field" [(ngModel)]="lastName" type="text" placeholder="Last Name">
  <input class="input-field" [(ngModel)]="age" type="text" placeholder="Age">
  <input class="input-field" [(ngModel)]="dni" type="text" placeholder="ID">
  <input class="input-field" [(ngModel)]="charge" type="text" placeholder="Charge">
  <input class="input-field" [(ngModel)]="salary" type="text" placeholder="Salary">

  <div class="col-photo">
    <img ngSrc="assets/Images/UserIcon.png" alt="User Icon0" height="1200" width="1200">
  </div>

  <div class="add-button">
    <button class="add-employee-button">Add</button>
  </div>
</div>
